.hero {
  width: 100%;
  margin: auto;
  text-align: center;
}
.hero--content {
  position: relative;
}
.hero img {
  width: 100%;
  height: 380px;
  object-fit: cover;
}
.hero .hero--text {
  position: absolute;
  bottom: 3em;
  left: 8%;
}
.hero h3 {
  font-family: 'Open Sans', sans-serif;
  background: rgba(0, 0, 0, 0.5);
  padding: 8px;
  color: white;
}
ul {
  list-style: none;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 370px;
  margin: 30px auto;
}
.widget-card {
  width:200px;
  height: 250px;
  border: solid 1px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  margin: 10px;
  border: 1px solid #DDDDDD;
}
.widget-card a {
  text-decoration: none;
}
.widget-graphic {
  margin-top: 50px;
}
.widget-name {
  font-size: 24px;
  color: #000;
}
.close-panel {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  line-height: 32px;
  text-align: center;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  margin:0;padding:0;
}
.widgets {
  position:relative;
}
.component-container {
  overflow:hidden;
}
.component-container {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity .5s ease-out .2s;
  opacity:1;
  width:100%;
}
.component-container.open {
  opacity:1;
}
.component-container.closed {
  opacity:0;
}
