.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  min-height: 370px;
  margin: 30px auto;
}
.widget-card {
  width:200px;
  height: 250px;
  border: solid 1px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  margin: 10px;
  border: 1px solid #DDDDDD;
}
.widget-card a {
  text-decoration: none;
}
.widget-graphic {
  margin-top: 50px;
}
.widget-name {
  font-size: 24px;
  color: #000;
}
